package auth_views

import (
	"github.com/emarifer/gofiber-templ-htmx/views"
	"github.com/gofiber/fiber/v2"
)

templ LoginIndex(fromProtected bool) {
	// Set once instead of repeating `disabled?={ fromProtected }`
	disabled := fromProtected
	section.card.w-fit.bg-base-200.shadow-xl.mx-auto.mb-8 {
		div.card-body.pb-2 {
			h1.card-title.border-b.border-b-slate-600.pb-[4px] { "Log In" }

			form(
				hx-swap="transition:true",
				hx-headers="js:{'X-TimeZone': Intl.DateTimeFormat().resolvedOptions().timeZone}",
				class="rounded-xl drop-shadow-xl flex flex-col gap-4 w-96 p-8",
				action="",
				method="post",
			) {
				label.flex.flex-col.justify-start.gap-2 {
					"Email:"
					input.input.input-bordered.input-primary.bg-slate-800(
						type="email",
						name="email",
						required,
						autofocus,
						disabled?=disabled,
						value?=fromProtected ? "disabled " : "",
					)
				}

				label.flex.flex-col.justify-start.gap-2.relative {
					"Password:"
					input.input.input-bordered.input-primary.bg-slate-800(
						type="password",
						name="password",
						required,
						minlength="6",
						disabled?=disabled,
						value?=fromProtected ? "disabled " : "",
					)
					button.absolute.top-12.right-3(
						title="View password",
						type="button",
						disabled?=disabled,
						_=`on click if [type of previous <input/>] == 'password' 
							then remove [@type=password] from previous <input/> 
							then hide #eye then remove .hidden from #eye-slash 
							else show #eye then add .hidden to #eye-slash 
							then tell previous <input/> toggle [@type=password] end`
					) {
						svg#eye(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16") {
							path(d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0")
							path(d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7")
						}
						svg#eye-slash.hidden(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16") {
							path(d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588")
							path(d="M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z")
							path(d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829z")
							path(d="M10.475 8.354l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z")
							path(d="M13.646 14.354l-12-12 .708-.708 12 12z")
						}
					}
				}

				footer.card-actions.justify-end {
					button.badge.badge-primary.px-6.py-4.hover\\:scale-\\[1.1\\](disabled?=disabled) {
						"Sign In"
					}
				}
			}
		}
	}
}

templ Login(
	page string,
	fromProtected, isError bool,
	msg fiber.Map,
	cmp templ.Component,
) {
	@views.Layout(page, fromProtected, isError, msg, "") {
		@cmp
	}
}
